<!DOCTYPE html>
<html>
    <head>
         <title>About </title>
<link rel="stylesheet" href="./css/style.css">
<link rel="icon" href="../img/weather.png" >
<script src="js/app.js"></script>
    </head>
    <body>
                      <div class="main-content"> 
        {{>header}}
        </div>
      
        <h2>{{name}}</h2>
        This site is created by Mr Praveen Kc. It uses mapbox and weatherstack to show the information.
        <img src="../img/me.png">
        {{>footer}}
        
    </body>
</html> 